@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
    font-family: "Kdam Thmor Pro";
    font-weight: 400;
    color: #000000;
    margin: 0;
    height: 1024px;
    background-image: url("../assets/wallpaperv2.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
}

header {
  display: flex;
  top: 0;
  width: 100%;
  padding: 10px 16px;
  height: 76px;
  background: rgba(142, 189, 222, 0.90);
  font-family: "Kdam Thmor Pro";
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration-style: solid;
}

header div {
    width: fit-content;
    display: flex;
}

#icons {
    width: 256px;
    height: 44px;
    margin: auto 12px;
}

#logo { 
  text-decoration-line: underline;
  }

#date {
  position: absolute;
  right: 30px;
}

.popup {
    background-color: #c0c0c0;
    width: fit-content;
}

.header-popup {
    background-color: #0100C8;
    height: 24px;
    width: 100%;
}

.popup h1, p {
    padding: 0 18px 18px;
    margin: 0;
}

#ds {
    width: 442px;
    height: 346px;
}

#dog {
    width: 118px;
    height: 115px;
}

#sparkles {
    width: 167px;
    height: 186px;
}

#star {
    width: 129px;
    height: 137px;
}

#heart {
    width: 137px;
    height: 126px;
}

#cursor {
    width: 62px;
    height: 64px;
}

#mess {
    width: 309hpx;
    height: 267px;
}

#flower {
    width: 151px;
    height: 147px;
}


#frame #text {
    position: absolute;
    bottom: 0%;
}

#legal{
    color: #FFF;
    position: absolute;
    bottom : 1%;
    font-size: 48px;
    line-height: 150%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
}

/* Source : https://developer.mozilla.org/en-US/ 
la vie j'adore ce site il est trop bien renseigné*/