.logo {
  background: left / cover;
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  font:
    bold calc(1em + 2 * (100vw - 120px) / 100) "Dancing Script",
    fantasy;
  color: #ff0083;
  text-shadow: #000 2px 2px 0.2rem;
}

header > h1 {
  margin-bottom: 0;
}

header > time {
  font: italic 0.7rem sans-serif;
} 


/* base de la responsive*/

.logo {
  text-align: center;
  padding: 0 10px;
  word-break: break-word;
}

/* tablette(≤ 1024px)*/

@media screen and (max-width: 1024px) {

  .logo {
    height: 100px;
    font-size: calc(1em + 1.5 * (100vw - 120px) / 100);
  }
}

/* telephone(≤ 600px)*/

@media screen and (max-width: 600px) {

  .logo {
    height: auto;
    padding: 16px 12px;
    font-size: 2.2rem;
    line-height: 1.2;
  }

  header > h1 {
    font-size: 1.6rem;
  }

  header > time {
    font-size: 0.8rem;
    display: block;
    text-align: center;
    margin-top: 4px;
  }

}