@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {

  margin: 0;
  padding: 0;

  height: 1024px;
  background-image: url("assets/wallpaperv2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 10px 16px;
  height: 76px;
  background: rgba(142, 189, 222, 0.90);
  font-family: "Kdam Thmor Pro";
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration-style: solid;
}

#logo { 
  text-decoration-line: underline;
  color: white;
  }

header a:visited {
  color: #FFF;
}

#date {
  position: absolute;
  top: 38px;
  right: 35px;
}

#Titre {
  margin-left: 150px;
  color: #001D52;
  font-family: "Kdam Thmor Pro";
  font-size: 96px;
  font-weight: 400;
  line-height: 150%;
}

#Titre2 {
  margin-left: 150px;
  color: #001D52;
  font-family: "Kdam Thmor Pro";
  font-size: 96px;
  font-weight: 400;
  line-height: 150%;
  text-decoration-line: underline;
}

#selection { /* superpose header*/
  position: relative;
  margin-left: 1195px;
  bottom: 325px;
  color: #001D52;
  font-family: "Kdam Thmor Pro";
  font-size: 48px;
  font-weight: 400;
  line-height: 72px;
}

.popup {
  position: absolute; /*absolute pas bon*/
  background-color: #c0c0c0;
  width: 515px;
  height: 250px;
  right : 200px;
  top: 350px;
  
}

.profile-description{
  position: relative;
  margin-left: 200px;
  color: #000;
  text-align: center;
  font-family: "Kdam Thmor Pro";
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  bottom: 150px;
}

.profile-select-window {
  background-color: #D9D9D9;
  height: 155px;
  width: 179px;
  margin-left: 5%;
}

#profil{
  position: relative;
  top: 55px;
  margin-left: 38px;
  font-size: 20px;
  font-weight: 400;
}

.header-popup {
    background-color: #0100C8;
    height: 50px;
    width: 100%;
}

.popup h1, p {
    padding: 0 18px 18px;
    margin: 0;
}


#Mii{
  position: relative;
  left: 1600px;
  bottom: 100px;
  width: 92px;
  height: 134px;
  
}

button {
  width: 35px;
}

#legal{
  color: #FFF;
  font-family: "Kdam Thmor Pro";
  font-size: 48px;
  text-decoration-line: underline;
  display: flex;
  width: 535px;
  height: 74px;
  justify-content: center;

}

/* Sources : https://developer.mozilla.org/en-US/ 
la vie j'adore ce site il est trop bien renseigné
https://www.w3schools.com/ */