@media screen {
    
}

body {
    height: 1024px;
    background-image: url("assets/wallpaperv2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 10px 16px;
  height: 76px;
  background: rgba(142, 189, 222, 0.90);
  font-family: "Kdam Thmor Pro";
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration-style: solid;
}

#logo { 
  text-decoration-line: underline;
  }

#date { /*à bouger*/
  position: absolute;
  right: 30px;
}

#Titre {
  color: #001D52;
  font-family: "Kdam Thmor Pro";
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;

}

/* Source : https://developer.mozilla.org/en-US/ 
la vie j'adore ce site il est trop bien renseigné*/