@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {

  margin: 0;
  padding: 0;

  height: 1024px;
  background-image: url("assets/wallpaperv2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  padding: 10px 16px;
  height: 76px;
  background: rgba(142, 189, 222, 0.90);
  font-family: "Kdam Thmor Pro";
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration-style: solid;
}

#logo { 
  text-decoration-line: underline;
  }

#date {
  position: absolute;
  right: 35px;
}

#Titre {
  color: #001D52;
  font-family: "Kdam Thmor Pro";
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;

}

.popup {
    background-color: #c0c0c0;
    width: fit-content;
  
}

.profile-description{
  position: relative;
  left: 53%;
}

.profile-select-window {
  background-color: #D9D9D9;
  height: 100px;
  width: 40%
}

#profil{
  width: 115px;
  height: 22px;
}

.header-popup {
    background-color: #0100C8;
    height: 24px;
    width: 100%;
}

#Mii{
  position: absolute;
  right: 0;
  width: 92px;
  height: 134px;
  
}

button {
  width: 35px;
}

#legal{
  color: #FFF;
  font-family: "Kdam Thmor Pro";
  font-size: 48px;
  text-decoration-line: underline;

}

/* Source : https://developer.mozilla.org/en-US/ 
la vie j'adore ce site il est trop bien renseigné*/