@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
  color: #001D52;
  font-family: "Kdam Thmor Pro";
  margin: 0;
  height: 1024px;
  background-image: url("../assets/wallpaperv2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  padding: 18px 0 9px;
  top: 0;
  width: 100%;
  height: 76px;
  background: rgba(142, 189, 222, 0.90);
  font-family: "Kdam Thmor Pro";
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration-style: solid;
}

header * {
  padding: 10px 16px;
}

#logo { 
  text-decoration-line: underline;
}
  

#main {
  display: flex;
}

#left, #right {
  margin: 0 32px;
}

#left {
  width: 60%;
}

#right {
  width: 40%;
}

#right * {
  max-width: 100%;
}

.popup {
    background-color: #c0c0c0;
    width: fit-content;
}

.popup h1, p{
    padding: 0 18px 18px;
    margin: 0;
}

.popup form {
  padding: 18px;
}

.header-popup {
    background-color: #0100C8;
    min-height: 24px;
    height: fit-content;
    width: 100%;
}

#Titre {
  color: #001D52;
  font-family: "Kdam Thmor Pro";
  font-size: 4.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;

}

/* #legal-header {
  top: 0;
  transform: translateY(-50%);
} */

#legal-header h2 {
  margin: 0;
  text-align: center;
  padding: 8px 0;
  color: #FFF;
  text-decoration: underline #FFF 1px solid;
  text-decoration-skip-ink: auto;
}

#legal-section {
  margin: auto 32px;
  padding: 0;
  max-width: 70%;
  max-height: 500px;
  overflow-y: scroll;
}

#legal-section #content {
  padding: 16px;
  max-height: 500px;
}

label {
  display: block;
}

#submit-section {
  text-align: center;
}

input[type="submit"] {
  margin-top: 18px;
  border: 0;
  color: #FFF;
  background-color: #0100C8;
  font-family: "Kdam Thmor Pro";
}