@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
    color: #001D52;
    font-family: "Kdam Thmor Pro";
    margin: 0;
    height: 1024px;
    background-image: url("../assets/wallpaperv2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    padding: 18px 0 9px;
    top: 0;
    width: 100%;
    height: 76px;
    background: rgba(142, 189, 222, 0.90);
    font-family: "Kdam Thmor Pro";
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration-style: solid;
    z-index: 100;
}

header * {
    padding: 10px 16px;
}

#logo { 
    text-decoration-line: underline;
}

a {
  color: #0100C8;
}

a:visited {
  color: #001D52;
}

header a:visited {
  color: #FFF;
}

a:hover {
    color: #FFF;
}

#main {
    display: flex;
}

#left, #right {
    margin: 0 32px;
}

#left {
    width: 60%;
}

#right {
    width: 40%;
}

  #right * {
    max-width: 100%;
}

.popup {
    position: relative;
    background-color: #c0c0c0;
    width: fit-content;
}

#sparkles {
    position: absolute;
    left: -20%;
    bottom: -20%;
    width: 101px;
    height: 122px;
}

.popup h1, p{
    padding: 0 18px 18px;
    margin: 0;
}

.popup form {
    position: relative;
    padding: 18px;
}
#mii {
    position: absolute;
    top: 0;
    right: 0;
    width: 52px;
    height: 75px;
    transform: translate(0, -100%);
}

.header-popup {
    background-color: #0100C8;
    min-height: 24px;
    height: fit-content;
    width: 100%;
}

.header-popup h2{
    margin: 0;
    text-align: center;
    padding: 8px 0;
    color: #FFF;
    text-decoration: underline #FFF 1px solid;
    text-decoration-skip-ink: auto;
}

#Titre {
    color: #001D52;
    font-family: "Kdam Thmor Pro";
    font-size: 4.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;

}

/* https://stackoverflow.com/questions/9363654/how-can-i-position-a-child-div-at-the-right-upper-of-the-parent */
#title-section {
    position: relative;
}

#heart {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;

    width: 105px;
    height: 96px;
    transform: rotate(22deg);
}

#dog {
    position: absolute;
    bottom: -40px;
    left: 40%;
    width: 100px;
    height: 98px;
}

#legal-section {
    margin: auto 32px;
    padding: 0;
    max-width: 70%;
    max-height: 500px;
    overflow-y: scroll;
}

#container  {
    position: relative;
}
#star {
    position: absolute;
    bottom: -20%;
    left: -20px;
    width: 139px;
    height: 148px;
    z-index: 15;
}

#legal-section #content {
    padding: 16px;
    max-height: 500px;
}

label {
    display: block;
}

#submit-section {
    text-align: center;
}

input, textarea {
    background-color: #D9D9D9;
}

input[type="submit"] {
    margin-top: 18px;
    border: 0;
    color: #FFF;
    background-color: #0100C8;
    font-family: "Kdam Thmor Pro";
}

/* https://www.w3schools.com/howto/howto_css_disable_resize_textarea.asp */
textarea {
    resize: none;
}