@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=New+Rocker&display=swap');

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-image: url("../assets/emo/wallpaperv2.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1440px;
    height: 1024px;
    aspect-ratio: 45/32;
}

#text {
    color: #531D67;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #DCDCDC;
    font-family: "New Rocker";
    font-size: 30px;
    font-weight: 400;
    width: 309px;
    height: 59.427px;
    margin-left: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  padding: 18px 0 9px;
  top: 0;
  width: 100%;
  height: 76px;
  background-image: url("../assets/emo/header.png");
  z-index: 100;
}