@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&display=swap');

* {
  font-family: "Jacquarda Bastarda 9", serif;
  font-weight: 400;
  font-style: normal;
}


body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: "jacquarda-bastarda-9-regular", serif;
    background-color: black;
    display: grid ;
    background-image: url("../assets/y2k/wallpaper_y2k.png");
}



#text {
    /*background-color: #ff69b4;;*/
    padding: 20px;
    text-align: left;
    color: #FFF;
    border-bottom: 3px solid black;
}



.posting {
    position: absolute;
    top: 30%;
    bottom: 65%;
    left: 500px ;
    right: 300px;
    background: #9D2CA7;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    z-index: 100;
}

.sending {
    position: absolute;
    top: 30%;
    bottom: 65%;
    left: 1000px ;
    right: 10%;
    background: #9D2CA7;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    z-index: 100;
}

#navbar {
    /*position: sticky; */
    display: flex;
    position: sticky;
    top: 0%;
    width: 100%;
    padding: 20px;
    position: solid;
    background-color: #ff69b4;;
    padding: 20px;
    text-align: start;
    border-bottom: 3px solid black;
    align-items: flex-start;
    justify-content: space-between;
}

#navbar :first-child{
    align-self: flex-end;
}


#main #header{
    align-self: start;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}



#main #header_2 {
    align-self: end;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#window {
    width: 978px;
    height: 828px;
    background-color: rgba(255, 48, 217, 0.70);
    margin: auto;
    display: flex;

}

#sidebar{
    row-gap: 1px;
    width: 209px;
    height: 809px;
    background: #D9D9D9;
}

#main {
    width: 624px;
    height: 728px;
    background: #EE86ED;
    margin: auto;
    z-index: 1;
}
#main #write :first-child{
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    width: 624px;
    height: 728px;
    background-color: #EE86ED;
    background-position: 50% 50%;
}

.background image{
    width: 1440px;
    height: 1024px;
    aspect-ratio: 45/32;
}

#image_1 {
    position: absolute;
    top: 50%;
    width: 230px;
    height: 309px;
    aspect-ratio: 230/309;
    background-position: 20%;
    z-index: -1;
}

#image-2 {
    position: absolute;
    top: 100%;
    bottom: 0%;
    width: 179.002px;
    height: 319.125px;
    transform: rotate(-9.866deg);
    aspect-ratio: 179.00/319.12;
    z-index: -1;
}

#image_3 {
    position:absolute;
    top: 100%;
    bottom:0%;
    left: 960px;
    right: 735px ;
    object-position: left;
    width: 314.573px;
    height: 246.625px;
    transform: rotate(5.646deg);
    aspect-ratio: 314.57/246.63;
    z-index: -1;
}
#image_4{
    position: absolute;
    left: 952px;
    top: 50%;
    bottom: 0%;
    width: 360px;
    height: 432px;
    transform: rotate(-8.258deg);
    aspect-ratio: 5/6;
    z-index: -1;
}

/*
#image_5 {
    position: absolute;
    left: 1104px;
    right: 735px;
    top:100%;
    bottom: 0%;
    width: 1440px;
    height: 1024px;
    aspect-ratio: 45/32;
} */

button {
    display : grid;
    width: 80%;
    padding: 15px;
    margin: 0 auto 10px;
    background: linear-gradient(purple, darkviolet);
    color: white;
    border: 2px solid black;
    font-size: 18px;
    cursor: pointer;

}

/*
.button_1{
    display : grid;
    height : 15px;
    width :15px;
}
*/

h1 {
    color: white;
    font-size: 50px;
    margin: 0;
    text-shadow: 2px 2px black;
}

footer {
    background: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 15px;
    font-family: 'Courier New', monospace;
    font-size: 0.4em;
}

.button_top {

}




/* https://developer.mozilla.org/fr/docs/Web/CSS/Guides/Box_alignment */