@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&display=swap');

* {
  font-family: "Jacquarda Bastarda 9", serif;
  font-weight: 400;
  font-style: normal;
}


body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: "jacquarda-bastarda-9-regular", serif;
    background-color: black;
    display: grid ;
    background-image: url("../assets/y2k/wallpaper_y2k_webp.webp");
}



#text {
    /*background-color: #ff69b4;;*/
    padding: 20px;
    text-align: left;
    color: #FFF;
    border-bottom: 3px solid black;
}



.posting {
    position: absolute;
    top: 30%;
    bottom: 65%;
    left: 500px ;
    right: 300px;
    background: #9D2CA7;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    z-index: 100;
}

.sending {
    position: absolute;
    top: 30%;
    bottom: 65%;
    left: 1000px ;
    right: 10%;
    background: #9D2CA7;
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    z-index: 100;
}

#navbar {
    /*position: sticky; */
    display: flex;
    position: sticky;
    top: 0%;
    width: 100%;
    padding: 20px;
    background-color: #ff69b4;;
    padding: 20px;
    text-align: start;
    border-bottom: 3px solid black;
    align-items: flex-start;
    justify-content: space-between;
}

#navbar :first-child{
    align-self: flex-end;
}


#main #header{
    align-self: start;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}



#main #header_2 {
    align-self: end;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#window {
    width: 978px;
    height: 828px;
    background-color: rgba(255, 48, 217, 0.70);
    margin: auto;
    display: flex;

}

#sidebar{
    row-gap: 1px;
    width: 209px;
    height: 809px;
    background: #D9D9D9;
}

#main {
    width: 624px;
    height: 728px;
    background: #EE86ED;
    margin: auto;
    z-index: 1;
}
#main #write :first-child{
    display: flex;
    align-items: self-start;
    justify-content: space-between;
    width: 624px;
    height: 728px;
    background-color: #EE86ED;
    background-position: 50% 50%;
}

.background image{
    width: 1440px;
    height: 1024px;
    aspect-ratio: 45/32;
}

#image_1 {
    position: absolute;
    top: 50%;
    width: 230px;
    height: 309px;
    aspect-ratio: 230/309;
    background-position: 20%;
    z-index: -1;
}

#image-2 {
    position: absolute;
    top: 100%;
    bottom: 0%;
    width: 179.002px;
    height: 319.125px;
    transform: rotate(-9.866deg);
    aspect-ratio: 179.00/319.12;
    z-index: -1;
}

#image_3 {
    position:absolute;
    top: 100%;
    bottom:0%;
    left: 960px;
    right: 735px ;
    object-position: left;
    width: 314.573px;
    height: 246.625px;
    transform: rotate(5.646deg);
    aspect-ratio: 314.57/246.63;
    z-index: -1;
}
#image_4{
    position: absolute;
    left: 952px;
    top: 50%;
    bottom: 0%;
    width: 360px;
    height: 432px;
    transform: rotate(-8.258deg);
    aspect-ratio: 5/6;
    z-index: -1;
}

/*
#image_5 {
    position: absolute;
    left: 1104px;
    right: 735px;
    top:100%;
    bottom: 0%;
    width: 1440px;
    height: 1024px;
    aspect-ratio: 45/32;
} */

button {
    display : grid;
    width: 80%;
    padding: 15px;
    margin: 0 auto 10px;
    background: linear-gradient(purple, darkviolet);
    color: white;
    border: 2px solid black;
    font-size: 18px;
    cursor: pointer;

}

#button_change {
    display: grid;
    background-color: #9D2CA7;
    position:fixed;
    z-index: 100;
    top:90%;
    bottom:80%;
    left: 30%;

}


/*
.button_1{
    display : grid;
    height : 15px;
    width :15px;
}
*/

h1 {
    color: white;
    font-size: 50px;
    margin: 0;
    text-shadow: 2px 2px black;
}

footer {
    background: rgba(0, 0, 0, 0.9);
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 15px;
    font-family: 'Courier New', monospace;
    font-size: 0.4em;
}

.button_top {
    position:fixed;
    z-index: 100;
    top:90%;
    bottom:80%;

}

/*style emo*/
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=New+Rocker&display=swap');

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-image: url("../assets/emo/wallpaperv3.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1440px;
    height: 1024px;
    aspect-ratio: 45/32;
}

body #image_1 {
    content: url("../assets/emo/case\ 1.png");
}

body #image-2 {
  position: relative;
  content: url("../assets/emo/pfp.png");
  bottom: 450px;
  left: 360px;
  height: 25%

}

body #image_3 {
  position: relative;
  content: url("../assets/emo/moon\ 1.png");
  bottom: 730px;
  left: 850px;
}

body #image_4 {
  position: relative;
  content: url("../assets/emo/chain_skellet.png");
  bottom: 580px;
  right: 270px;
}

#text {
  position: relative;
  color: #531D67;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #DCDCDC;
  font-family: "New Rocker";
  font-size: 30px;
  font-weight: 400;
  width: 309px;
  height: 59.427px;
  margin-left: 30px;
  bottom:50px;
}

header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  padding: 18px 0 9px;
  top: 0;
  width: 100vw;
  height: 90px;
  background-image: url("../assets/emo/header.png");
  z-index: 100;
}

#navbar {
  display: flex;
  position: sticky;
  margin-top: 30px;
  width: 100%;
  padding: 20px;
  position: solid;
  padding: 20px;
  text-align: start;
  align-items: flex-start;
  justify-content: space-between;
  color: #531D67;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFF;
  font-family: "New Rocker";
  font-size: 40px;
  font-weight: 400;
  bottom: 40px;
}
#write {
  margin-left: 850px;
  margin-top: 200px;
}


/* boutton pour le leave a review*/
/*
.button-style {
    display: inline-block;
    padding: 10px 20px;
    background-color: #9D2CA7;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}*/

/* https://developer.mozilla.org/fr/docs/Web/CSS/Guides/Box_alignment */


/* base pour la responsive*/

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

/* Evite les débordements sur telephone */
body {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

/* Fenêtre principale */
#window {
    max-width: 978px;
    width: 95%;
    height: auto;
    min-height: 828px;
    flex-wrap: wrap;
}

/* Sidebar */
#sidebar {
    min-height: 809px;
}

/* Main */
#main {
    max-width: 624px;
    width: 100%;
    height: auto;
    min-height: 728px;
}

/* Boutons */
button {
    width: 90%;
    max-width: 400px;
}


/* TABLETTE (≤ 1024px)*/

@media screen and (max-width: 1024px) {

    #window {
        flex-direction: column;
        align-items: center;
    }

    #sidebar {
        width: 100%;
        height: auto;
        min-height: unset;
    }

    #main {
        width: 100%;
    }

    .posting,
    .sending {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        margin: 10px auto;
        display: block;
    }
}


/* telephone (≤ 600px) */

@media screen and (max-width: 600px) {

    h1 {
        font-size: 32px;
        text-align: center;
    }

    #navbar {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #text {
        padding: 10px;
        font-size: 14px;
    }

    #window {
        width: 100%;
        min-height: unset;
    }

    #sidebar {
        display: none; /* optionnel : enlève la sidebar sur mobile */
    }

    #main {
        padding: 10px;
    }

    footer {
        font-size: 0.6em;
    }

    /* Images décoratives désactivées sur mobile */
    #image_1,
    #image_2,
    #image_3,
    #image_4 {
        display: none;
    }
}
